In [14]:
import numpy as np
import scipy as sp
%precision 3

'%.3f'

In [15]:
fish_data = np.array([2,3,3,4,4,4,4,5,5,6])
print(sp.sum(fish_data))
print(len(fish_data))
print(sp.mean(fish_data))

40
10
4.0

In [19]:
N = len(fish_data)
sum_value = sp.sum(fish_data)
mu = sum_value / N

# sigma_2_sample = sp.sum((fish_data - mu) ** 2) / N
# sp.var(fish_data, ddof = 0)
print(sp.var(fish_data, ddof = 1)) # 不変分散
print(sp.std(fish_data, ddof= 1))

1.3333333333333333
1.1547005383792515

### 標準化　データの平均を0、標準偏差を1にする

In [37]:
# データから一律に平均を引けば、平均は0になる。
fish_data - mu
print(sp.mean(fish_data - mu))

# データを一律に標準偏差で割れば、標準偏差が1になる
sigma2 = sp.sum((fish_data - mu) ** 2)  / (N - 1)
sigma = sp.sqrt(sigma2)
print(sp.std(fish_data / sigma, ddof=1))

standard = (fish_data - mu) / sigma
# print(sp.mean(standard))
print(sp.std(standard, ddof=1))

0.0
1.0
1.0

In [38]:
print(sp.amax(fish_data))
print(sp.amin(fish_data))
print(sp.median(fish_data))

6
2
4.0

In [39]:
import pandas as pd
import scipy as sp
%precision 3

'%.3f'

In [50]:
fish_multi = pd.DataFrame({
    "species": ["A","A","A","B","B","B"],
    "length":[2,3,4,6,8,10]
})
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [55]:
group = fish_multi.groupby("species")
print(group.mean())
print(group.std(ddof=1))

         length
species
A             3
B             8
         length
species
A           1.0
B           2.0

In [56]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0