In [1]:
import numpy as np
import scipy as sp
%precision 3

'%.3f'

In [2]:
fish_data = np.array([2,3,3,4,4,4,4,5,5,6])
print(sp.sum(fish_data))
print(len(fish_data))
print(sp.mean(fish_data))

40
10
4.0

In [3]:
N = len(fish_data)
sum_value = sp.sum(fish_data)
mu = sum_value / N

# sigma_2_sample = sp.sum((fish_data - mu) ** 2) / N
# sp.var(fish_data, ddof = 0)
print(sp.var(fish_data, ddof = 1)) # 不変分散
print(sp.std(fish_data, ddof= 1))

1.3333333333333333
1.1547005383792515

### 標準化　データの平均を0、標準偏差を1にする

In [4]:
# データから一律に平均を引けば、平均は0になる。
fish_data - mu
print(sp.mean(fish_data - mu))

# データを一律に標準偏差で割れば、標準偏差が1になる
sigma2 = sp.sum((fish_data - mu) ** 2)  / (N - 1)
sigma = sp.sqrt(sigma2)
print(sp.std(fish_data / sigma, ddof=1))

standard = (fish_data - mu) / sigma
# print(sp.mean(standard))
print(sp.std(standard, ddof=1))

0.0
1.0
1.0

In [5]:
print(sp.amax(fish_data))
print(sp.amin(fish_data))
print(sp.median(fish_data))

6
2
4.0

In [6]:
import pandas as pd
import scipy as sp
%precision 3

'%.3f'

In [7]:
fish_multi = pd.DataFrame({
    "species": ["A","A","A","B","B","B"],
    "length":[2,3,4,6,8,10]
})
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [8]:
group = fish_multi.groupby("species")
print(group.mean())
print(group.std(ddof=1))

         length
species
A             3
B             8
         length
species
A           1.0
B           2.0

In [9]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [10]:
shoes = pd.DataFrame({
    "store":["Tokyo", "Tokyo", "Osaka", "Osaka"],
    "color":["blue", "red", "blue", "red"],
    "sales":[10,15,13,9]
})

In [12]:
shoes

   store color  sales
0  Tokyo  blue     10
1  Tokyo   red     15
2  Osaka  blue     13
3  Osaka   red      9

In [13]:
cross = pd.pivot_table(
    data = shoes,
    values = "sales",
    aggfunc = "sum",
    index = "store",
    columns = "color"
)
print(cross)

color  blue  red
store
Osaka    13    9
Tokyo    10   15

In [16]:
cov_data = pd.read_csv("sample\\3-2-3-cov.csv")
print(cov_data)

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [17]:
x = cov_data["x"]
y = cov_data["y"]
N = len(cov_data)
mu_x = sp.mean(x)
mu_y = sp.mean(y)

In [18]:
cov_sample = sum((x-mu_x)*(y-mu_y)) / N
cov_sample

6.906

In [20]:
cov = sum((x-mu_x)*(y-mu_y)) / (N - 1)
cov

7.673

In [24]:
print(sp.var(y))
print(sp.var(x))

25.210000000000004
3.2815999999999996

In [27]:
sp.cov(x,y,ddof=0)
# sp.cov(x,y,ddof=1) 分母をN-1とした分散共分散行列

array([[ 3.282,  6.906],
       [ 6.906, 25.21 ]])

### ピアソンの積率相関係数　通常相関係数といえばこれ。

In [28]:
sigma_2_x = sp.var(x, ddof = 1)
sigma_2_y = sp.var(y, ddof = 1)
rho = cov / sp.sqrt(sigma_2_x * sigma_2_y)
rho

0.7592719041137088

In [30]:
sp.corrcoef(x, y)

array([[1.   , 0.759],
       [0.759, 1.   ]])